html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.content { padding: 1em; }
.mat-mdc-card-content { display: flex !important; line-height: 40px;}
.spacer { flex: 1 1 auto; }