<div fxLayout="column" fxLayoutGap="32px">
    <div>
        <mat-form-field>
            <mat-label>Task Description</mat-label>
            <input matInput placeholder="Ex. Learn angular" [(ngModel)]="description">
            <button *ngIf="description" matSuffix mat-icon-button aria-label="Clear"
                (click)="description=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <span class="spacer"></span>
        <button mat-mini-fab color="primary" aria-label="Add new task item" (click)="add($event)" [disabled]="!description">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div *ngFor="let taskItem of taskItems;">
        <app-task-list-item [taskItem]="taskItem"></app-task-list-item>
    </div>
</div>